<section style="text-align:center">
    <h1>プロフィールの編集</h1>
    <form action = "/edit/profile" method = "post" enctype = "multipart/form-data">
		<%= @message %><br>
		<b>ユーザー名</b><br>
	    <input type = "text" name = "name" value = "<%= @user.name %>" placeholder = "新しいユーザー名"><br>
	    <b>パスワード</b><br>
	    <input type = "password" name = "password" placeholder = "新しいパスワード" ><br>
	    <input type = "password" name = "password_confirmation", placeholder = "もう一度パスワードを入力"><br>
	    <b>プロフィール画像</b><br>
	    <input type = "file" name = "profile"><br><br>
	    <button type = "submit" value = "変更">
	    	<i class="fas fa-user-check fa-2x"></i>
	    	変更する
	    </button>
	</form>
</section>