<section style = "text-align:center">
    <h1>サイトについて</h1><br>
        <span class = "topic">GamePlusUとは</span><br>
            GamePlusUとは、世界中の人々とあらゆるゲームを通して<br><span class = "emphasis">交流、ゲームを盛り上げる</span>ことを目的としたWebサービスです。<br>
            ユーザー登録することで、他ユーザーとゲームを一緒に遊ぶことができます。<br><br><br>
            
        <span class = "topic">使い方</span><br>
        まず、初めてご利用される方は、左上の<span class = "emphasis">新規登録</span>を押して登録してください。<br>
        既に、登録済みの方は、<span class = "emphasis">ログイン</span>からログインを行ってください。<br><br>
        
        登録もしくはログインが完了すると、他のユーザーと一緒にゲームすることができます。<br><br>
        今から一緒にこのゲームをやってくれる人を募集したり、<br>フレンドコードの交換をしたいときは、<br>
        <span class = "emphasis">投稿ページ</span>から投稿してください。<br><br>
        気になる投稿があれば、<br>投稿の下にある<span class = "emphasis">「募集中！」</span>というボタンをクリックしてください。<br>
        トークルームが作成されるので、そこでメッセージを送り合うことができます。<br><br>
        
        <span class = "topic">特徴</span><br>
        GamePlusUでは、安心して皆様にお使いいただけるように、<br>ユーザー同士が評価し合う<span class = "emphasis">レビュー機能がございます。</span><br><br>
        他ユーザーのプロフィールアイコンをクリックしていただくと、<br>その人のユーザーのページに飛ぶことができるので、<br>そこに表示されている星の横の数字をクリックしていただくと、評価を行えます。<br>
        もちろん自分に対する評価はマイページからご確認いただけます。<br><br>
        <span class = "emphasis">誰かと一緒に遊び終わったら、是非一緒に遊んだユーザーのレビューをお願いします。</span><br>
        
    
</section>