<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>ゲーム募集掲示板</title>
</head>
<body>
    <ul>
        <b>ゲーム掲示板にようこそ！！</b><br>
        <% unless session[:user] %>
            <b>新規の方ですか？</b>
            <a href = "/sign_up">新規登録</a></br>
            <b>それともログインしますか？</b>
            <a href = "/sign_in">ログイン</a>
        <% else %>
            <b>おかえりなさい、<%= current_user.name %>さん</b>
            <% if current_user.profile.empty? %>
                <a href = '/home'><img src = "/assets/img/game_software_cassette.png" alt = "user_image" width = "40" height = "40"></a>
            <% else %>
                <a href = '/home'><img src = "<%= current_user.profile %>" alt = "user_image" width = "40" height = "40"></a>
                <a href = '/sign_out'>ログアウト</a>
            <% end %>
        <% end %>
    </ul>
    <%= yield %>
</body>
</html>