<!DOCTYPE html>
<html lang="ja" >
<div class = "kokuban">
<head>
	<meta charset="UTF-8">
	<link rel = "shortcut icon" href = "/assets/img/gameplusu-favicon.ico">
	<title>GamePlusU</title>
	<link rel="stylesheet" href="/assets/css/style.css"> <%# CSSの読み込み%>
	<%# Font Awesome %>
	<script src="https://kit.fontawesome.com/2f1f6439ee.js" crossorigin="anonymous"></script>
	<%# font %>
	<link href="https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap" rel="stylesheet">
</head>
<body>
    <ul>
        <b><a href = "/">ゲーム掲示板にようこそ！！</a></b><br>
        <% unless session[:user] %>
            <b>新規の方ですか？</b>
            <a href = "/sign_up">新規登録</a></br>
            <b>それともログインしますか？</b>
            <a href = "/sign_in">ログイン</a>
        <% else %>
            <% if current_user.login == false %>
                <b>ようこそ、<%= current_user.name %>さん</b>
            <% else %>
                <b>おかえりなさい、<%= current_user.name %>さん</b>
            <% end %>
            
            <% if current_user.profile.empty? %>
                <a href = '/home'><img src = "/assets/img/game_software_cassette.png" alt = "user_image" width = "40" height = "40"></a>
            <% else %>
                <a href = '/home'><img src = "<%= current_user.profile %>" alt = "user_image" width = "40" height = "40"></a>
            <% end %>
                <a href = '/sign_out'>ログアウト</a>
                <a href = "/post/board">投稿ページ</a>
        <% end %>
    </ul>
    <%= yield %>
</body>
</div>
</html>