<section>
    <h1>投稿フォーム</h1>
    <form action = "/post/board" method = "post">
        機種選択
        <select name = "platform">
            <option value = "PC">PC</option>
            <option value = "Phone">Phone</option>
            <option value = "Switch">Switch</option>
            <option value = "PS4">PS4</option>
            <option value = "PS5">PS5</option>
            <option value = "Xbox">Xbox One</option>
        </select><br>
        ゲームタイトル
        <input type = "text" name = "gamename" placeholder = "タイトル名">
        </input><br>
        カテゴリー
        <select name = "purpose">
            <option value = "協力プレイ">協力プレイ</option>
            <option value = "対戦">対戦</option>
            <option value = "フレンド">フレンド</option>
            <option value = "その他">その他</option>
        </select><br>
        投稿内容<br>
        <textarea name = "article" rows ="4" col ="50" placeholder = "200文字以内">
        </textarea><br>
        <input type = "submit" value = "投稿する！">
        </input>
</section>