<section style="text-align:center">
    <h1>投稿フォーム</h1>
    <form action = "/post/board" method = "post">
        機種選択
        <select name = "platform">
            <% Model.all.each do |modellist| %>
                <option value = "<%= modellist.id %>"><%= modellist.platform %></option>
            <% end %>
        </select><br>
        ゲームタイトル
        <input type = "text" name = "gamename" placeholder = "タイトル名" required>
        </input><br>
        カテゴリー
        <select name = "purpose">
            <% Category.all.each do |categorylist| %>
                <option value = "<%= categorylist.id %>"><%= categorylist.purpose %></option>
            <% end %>
        </select><br>
        募集人数
        <input type = "number" name = "applicant" required><br>
        投稿内容<br>
        <textarea name = "article" rows = "5" cols = "40" placeholder = "200字以内"></textarea><br>
        <button type = "submit" value = "投稿する！">
            <span class = "fa-stack">
                <i class="fas fa-chalkboard-teacher fa-3x posicolor2"></i>
                <i class="fas fa-plus posicolor5"></i>
            </span>
        </button>
</section>