<section>
    <h1>投稿フォーム</h1>
    <form action = "/post/board" method = "post">
        機種選択
        <select name = "platform">
            <% Model.all.each do |modellist| %>
                <option value = "<%= modellist.id %>"><%= modellist.platform %></option>
            <% end %>
        </select><br>
        ゲームタイトル
        <input type = "text" name = "gamename" placeholder = "タイトル名">
        </input><br>
        カテゴリー
        <select name = "purpose">
            <% Category.all.each do |categorylist| %>
                <option value = "<%= categorylist.id %>"><%= categorylist.purpose %></option>
            <% end %>
        </select><br>
        投稿内容<br>
        <textarea name = "article" rows = "5" cols = "40" placeholder = "200字以内"></textarea>
        <input type = "submit" value = "投稿する！">
        </input>
</section>