<section>
    <h1><%= User.find_by(id: @joinrecruit.user_id).name %>さんと
    <%= Game.find_by(id: @joinrecruit.game_id).gamename%>で遊ぶためのトークルーム</h1>
    今Joinしているユーザー：
    <% @joiner.each do |joiner| %>
        <% if @talkrooms.id == joiner.talkroom_id %>
            <%= User.find_by(id: joiner.user_id).name %>,
        <% end %>
    <% end %>
</section>