<section style="text-align:center">
    <h1><%= @reviewed.name %>さんの評価</h1>
    <form action = "/write/review/<%= @reviewed.id %>" method = "post">
        <div class="review">
        <div class="stars">
            <span>
              <input id="review01" type="radio" name="star" value = "5"><label for="review01">★</label>
              <input id="review02" type="radio" name="star" value = "4"><label for="review02">★</label>
              <input id="review03" type="radio" name="star" value = "3"><label for="review03">★</label>
              <input id="review04" type="radio" name="star" value = "2"><label for="review04">★</label>
              <input id="review05" type="radio" name="star" value = "1"><label for="review05">★</label>
            </span>
        </div>
        </div>
        <input type = "text" name = "evaluation" placeholder = "コメント"><br><br>
        <button type = "submit" value = "評価">
            <i class="fas fa-edit fa-3x color"></i>
        </button>
    </form>
</section>