.kokuban {
position: relative;
margin: 2em auto;
padding: 2.2em 1em 1em;
width: 90%;
background-color: #15885A;
color: #fff;
border: 8px solid #b2771f;
border-radius: 3px;
box-shadow: 0 0 5px #333, 0 0 5px #555 inset;
line-height: 2em;
}

.kokuban::before,
.kokuban::after {
position: absolute;
content: '';
bottom: 0;
} 

.kokuban::before {
right: 10px;
border: solid 3px #fff;
width: 20px; 
border-radius: 3px 2px 0 2px;
}

.kokuban::after {
right: 40px;
border: solid 3px #ffff6b;
width: 15px; 
border-radius: 8px 5px 2px 5px;
}

.box22{
    padding: 0.1em 0.4em;
    margin: 1em 20em;
    background: #ACD0C0;
    border-left: solid 6px #5bb7ae;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
}

.box22 p {
    margin: 0; 
    padding: 0;
}

.box23{
    padding: 0.1em 0.4em;
    margin: 1em 20em;
    background: #FED6FF;
    border-left: solid 6px #FF72A5;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
}

.box23 p {
    margin: 0; 
    padding: 0;
}

body{
  font-family: 'Yusei Magic', sans-serif;;
  font-size: 1.1rem;
}

section{
  font-family: 'Yusei Magic', sans-serif;;
  font-size: 1.0rem;
}

input{
  font-family: 'Yusei Magic', sans-serif;;
  font-size: 1.0rem;
}

select{
  font-family: 'Yusei Magic', sans-serif;;
  font-size: 1.0rem;
}

textarea{
  font-family: 'Yusei Magic', sans-serif;;
  font-size: 1.0rem;
}

button{
  background: transparent;
  border: none;
  cursor: pointer;             /* カーソルが上に乗ったときに指の形にする */
}

a {
font-weight: bold;
text-decoration: none;
}

a:link { /*アクセスしたことのないリンク*/
color: #FFEF90;
}

a:visited { /*アクセスしたことのあるリンク*/
color: #FFEF90;
}

a:hover {/*マウスが上に乗っている状態*/
color: #FFEF90;
text-decoration: underline;
}

h1{
  color: #FF99C9;
}

img{
  position:relative;
  top: 10px;
}

#right-box{
  float: right;
  margin-right: -11px;
  position: relative;
  bottom: 235px;
  right: 30px;
}

#footer{
  clear:both;
  text-align: center;
  margin-top: 100px;
}

.color{
  color: white;
}

.posicolor{
  color: white;
  position:relative;
  top:5px;
}

.posicolor2{
  color: white;
  position:relative;
  top:8px;
}

.posicolor3{ /* 評価するボタン*/
  color: white;
  position: relative;
  left: 9px;
}

.posicolor4{ /* 戻るするボタン*/
  color: white;
  position: relative;
  right: 15px;
  up: 15px;
}

.posicolor5{ /* 戻るするボタン*/
  color: white;
  position: relative;
  left: 15px;
  bottom: 33px;
}

.stars span{
  display: flex;               /* 要素をフレックスボックスにする */
  flex-direction: row-reverse; /* 星を逆順に並べる */
  justify-content: center;/* 逆順なので、左寄せにする */
}

.stars input[type='radio']{
  display: none;/* デフォルトのラジオボタンを非表示にする */
}

.stars label{
  color: #D2D2D2;              /* 未選択の星をグレー色に指定 */
  font-size: 30px;             /* 星の大きさを30pxに指定 */
  padding: 0 5px;              /* 左右の余白を5pxに指定 */
  cursor: pointer;             /* カーソルが上に乗ったときに指の形にする */
}

.stars label:hover,
.stars label:hover ~ label,
.stars input[type='radio']:checked ~ label{
  color: #F8C601;              /* 選択された星以降をすべて黄色にする */
}

.star5_rating{
    position: relative;
    z-index: 0;
    display: inline-block;
    white-space: nowrap;
    color: #CCCCCC; /* グレーカラー 自由に設定化 */
    font-size: 30px; /*フォントサイズ 自由に設定化 */
}

.star5_rating:before, .star5_rating:after{
    content: '★★★★★';
}

.star5_rating:after{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
    color: #ffcf32; /* イエローカラー 自由に設定化 */
}

.star5_rating[data-rate="5.0"]:after{ width: 100%; } /* 星5 */
.star5_rating[data-rate="4.5"]:after{ width: 90%; } /* 星4.5 */
.star5_rating[data-rate="4.0"]:after{ width: 80%; } /* 星4 */
.star5_rating[data-rate="3.5"]:after{ width: 70%; } /* 星3.5 */
.star5_rating[data-rate="3.0"]:after{ width: 60%; } /* 星3 */
.star5_rating[data-rate="2.5"]:after{ width: 50%; } /* 星2.5 */
.star5_rating[data-rate="2.0"]:after{ width: 40%; } /* 星2 */
.star5_rating[data-rate="1.5"]:after{ width: 30%; } /* 星1.5 */
.star5_rating[data-rate="1.0"]:after{ width: 20%; } /* 星1 */
.star5_rating[data-rate="0.5"]:after{ width: 10%; } /* 星0.5 */
.star5_rating[data-rate="0.0"]:after{ width: 0%; } /* 星0 */

.balloon5 {
  width: 100%;
  margin: 1.5em 0;
  overflow: hidden;
  margin: 0 auto;
}

.balloon5 .faceicon {
  float: left;
  margin-right: -90px;
  width: 80px;
}

.balloon5 .faceicon img{
  width: 60%;
  height: auto;
  border: solid 3px #f8f8f8;
  border-radius: 50%;
}

.balloon5 .chatting {
  width: 100%;
}

.says {
  display: inline-block;
  position: relative; 
  margin: 5px 0 0 105px;
  padding: 17px 13px;
  border-radius: 12px;
  background: #A6E7FF;
}

.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 18px; 
  left: -24px;
  border: 12px solid transparent;
  border-right: 12px solid #A6E7FF;
}

.says p {
  margin: 0;
  padding: 0;
}